
**/.idea
**/*.iml
**/*.log
**/target
**/*.tar.gz
**/notMNIST_large
**/notMNIST_small
**/.ipynb_checkpoints
/.git.zip
/calculus/
**/*.jar
**/notMNIST.pickle
/dl/text8.zip
/dl/text8/
/machine_learning/.idea/
/dl/notMNIST_large/
/dl/notMNIST_small/
